:root {
  --branding-color: #ffffff;
  --second-branding-color: #000000;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--default-font-family);
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 140px;
  line-height: 1.5;
  font-family: var(--heading-font-family);
  color: var(--branding-color);
}

h2 {
  font-size: 24px;
  color: var(--branding-color);
}

h3 {
  font-size: 48px;
  color: var(--second-branding-color);
}

p {
  font-size: 18px;
  line-height: 1.5;
}
.hero {
  padding: 100px 20px;
  background: linear-gradient(
    109.6deg,
    rgb(233, 228, 237) 30.1%,
    rgb(207, 211, 236) 100.2%
  );
}
.about-section {
  padding: 100px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 1.5;
  color: var(--second-branding-color);
}

.about-section h2 {
  font-size: 42px;
  color: var(--second-branding-color);
}

.btn-branding {
  border-radius: 30px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border: 1px solid white;
}

.btn-branding:hover {
  color: var(--second-branding-color);
  background-color: var(--branding-color);
}

.btn-branding-outline {
  border-radius: 30px;
  color: var(--second-branding-color);
  line-height: 27px;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 auto;
  border: 1px solid black;
}

.btn-branding-outline:hover {
  color: var(--branding-color);
  background-color: var(--second-branding-color);
}

.project-description {
  padding: 20px 60px;
}

p.text-start {
  font-family: var(--heading-font-family);
  font-size: 38px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 70px;
  }
  h3 {
    font-size: 30px;
  }
  p {
    font-size: 16px;
  }
  p.text-start {
    font-size: 24px;
  }
  .btn-branding-outline {
    font-size: 18px;
  }
}
